<li class="dash-adherence-item dash-adherence-item--<%= result.status %>">
  <%= link_to edit_settings_medication_path(medication), class: "dash-recent-row-link" do %>
    <span class="dash-adherence-name"><%= medication.name %></span>
    <span class="dash-adherence-count" aria-label="<%= result.taken %> of <%= result.scheduled %> doses taken today">
      <%= result.taken %> / <%= result.scheduled %>
    </span>
    <span class="dash-adherence-label">
      <% if result.status == :on_track %>
        taken
      <% else %>
        taken today
      <% end %>
    </span>
  <% end %>
</li>
